<Context>
    <Resource name="jdbc/functionsDB"
              auth="Container"
              type="javax.sql.DataSource"
              maxTotal="20"
              maxIdle="10"
              maxWaitMillis="10000"
              username="postgres"
              password="1234"
              driverClassName="org.postgresql.Driver"
              url="jdbc:postgresql://db:5432/functions_database"/>
</Context>
